# Dependencies
fastapi
uvicorn
psycopg2-binary
sqlalchemy
redis
pytest
httpx #For Test Environemnt
alembic #Help in Schema Migration of the DB
mysql-connector-python
python-dotenv
pymysql
cryptography #Add for CiCD
pytest-cov #Add for CiCD
black #Spacing and formatting
isort #Spacing and formatting
flake8 #Linting
mypy #Type Checking

