services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - mysql
    ports:
      - "8000:8000"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
